include README.rst
include LICENSE
include CHANGELOG
include *.py
include requirements.txt
recursive-include fluxwallet/config *
recursive-include fluxwallet/data *
recursive-include fluxwallet/services *.py
recursive-include fluxwallet/wordlist *.txt
recursive-include fluxwallet/tools *.py
recursive-include tests *.json *.py *.pickle
recursive-include docs *.pdf
